<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>착한부동산</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string></string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.295342043131-r6bbu194f0cretg78g8tjb6kdl70vg6v</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kakao5e482130a00983a63dd1c067501e6dad</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>naverlogin</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>kr.com.realestate</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CodePushDeploymentKey</key>
	<string>x4hFcHzggtAYPndQfV-WDLkKyF_tjTXcxEUFM</string>
	<key>KAKAO_APP_KEY</key>
	<string>5e482130a00983a63dd1c067501e6dad</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>kakao5e482130a00983a63dd1c067501e6dad</string>
		<string>kakaokompassauth</string>
		<string>storykompassauth</string>
		<string>kakaolink</string>
		<string>kakaotalk-5.9.7</string>
		<string>storylink</string>
		<string>naversearchapp</string>
		<string>naversearchthirdlogin</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MKDirectionsApplicationSupportedModes</key>
	<array/>
	<key>NMFClientId</key>
	<string>2r75c6b5xh</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>codepush.appcenter.ms</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>해당 정보는 프로필/글작성시 필요한 이미지를 등록 하기위한 사진 첨부에 활용합니다.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>당신의 현재 위치를 중심으로 지도검색을 통해 매물정보등을 제공합니다</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>당신의 현재 위치를 중심으로 지도검색을 통해 매물정보등을 제공합니다</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>당신의 현재 위치를 중심으로 지도검색을 통해 매물정보등을 제공합니다.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>해당 정보는 프로필/글작성시 필요한 이미지를 등록 하기위한 사진 첨부에 활용합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>해당 정보는 프로필/글작성시 필요한 이미지를 등록 하기위한 사진 첨부에 활용합니다.</string>
	<key>UIAppFonts</key>
	<array>
		<string>NotoSansKR-Bold.otf</string>
		<string>NotoSansKR-Light.otf</string>
		<string>NotoSansKR-Medium.otf</string>
		<string>NotoSansKR-Regular.otf</string>
		<string>NotoSansKR-Thin.otf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-Regular.ttf</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
